In [9]:
#hello world program

In [7]:
print("hello world!!")

hello world!!

In [2]:
#printing value to the output screen
a=5
b=6
c=11
print("a value:",a)
print("b value:",b)
print("c value:",c)

a value: 5
b value: 6
c value: 11

In [4]:
#getting input value from the user
name=(input("enter the value:"))
print("your value is:",name)

enter the value: ManimegalaiMasilamani

your value is: ManimegalaiMasilamani

In [5]:
#getting float value from the user
weight=float(input("enter the weight:"))
print("your weight is:",weight)

enter the weight: 50.1

your weight is: 50.1

In [6]:
#getting integer value from the user
age=int(input("enter the age:"))
print("your age is:",age)

enter the age: 19

your age is: 19

In [10]:
#number is positive or nagative

In [12]:
#the number is nagative
a=int(input("enter the number:"))
if a<0:
    print("the number is nagative")
else:
    print("the number is positive")

enter the number: -2

the number is nagative

In [13]:

#the number is positive 
a=int(input("enter the number:"))
if a<0:
    print("the number is nagative")
if a>0:
    print("the number is positive")

enter the number: 9

the number is positive

In [14]:
#the number is odd or even

In [17]:
#the number is even
n=int(input("enter the number:"))
if n%2==0:
    print("the number is even")
else:
    print("the number is odd")

enter the number: 6

the number is even

In [16]:
#the number is odd
n=int(input("enter the number:"))
if n%2==0:
    print("the number is even")
if n%2!=0:
    print("the number is odd")

enter the number: 9

the number is odd

In [31]:
#the given input is aplphabets or not
n=input("enter the n:")
if n>="a" and n<="z":
    print("the input value is alphabets")
else:
    print("the input value is not alphabets")

enter the n: 8

the input value is not alphabets

In [37]:
#the given input is aplphabets or not
n=input("enter the n:")
if n>="a" and n<="z":
    print("the input value is alphabets")
elif n>="A" and n<="Z":
    print("the input value is alphabets")    
else:
    print("the input value is not alphabets")

enter the n: S

the input value is alphabets

In [22]:
#the input value is vowels or not

In [29]:
#the input value is not vowels
n=input("enter the n:")
if (n=="a" or n=="e" or n=="i" or n=="o" or n=="u"):
    print("the value is vowels")
else:
    print("the value is not vowels")

enter the n: 0

the value is not vowels

In [38]:
#the input value is vowels
n=input("enter the n:")
if (n=="a" or n=="e" or n=="i" or n=="o" or n=="u"):
    print("the value is vowels")
if (n=="A" or n=="E" or n=="I" or n=="O" or n=="U"):
    print("the value is vowels")    
else:
    print("the value is not vowels")

enter the n: I

the value is vowels

In [43]:
#the arthimethic operation
a=int(input("enter the number1:"))
b=int(input("enter the number2:"))
c=a+b
d=a-b
e=a*b
f=a/b
g=a//b
h=a%b
print(f"the sum :{c}, the sub: {d},the multi: {e},the division: {f},the floor division: {g},the modules: {h}")
print("the sum :{}, the sub: {},the multi: {},the division: {},the floor division: {},the modules: {}".format(c,d,e,f,g,h))
print("the sum :{c}, the sub: {d},the multi: {e},the division: {f},the floor division: {g},the modules: {h}".format(c=c,d=d,e=e,f=f,g=g,h=h))

enter the number1: 10
enter the number2: 5

the sum :15, the sub: 5,the multi: 50,the division: 2.0,the floor division: 2,the modules: 0
the sum :15, the sub: 5,the multi: 50,the division: 2.0,the floor division: 2,the modules: 0
the sum :15, the sub: 5,the multi: 50,the division: 2.0,the floor division: 2,the modules: 0

In [44]:
#finding the average number
a=int(input("enter the number1:"))
b=int(input("enter the number2:"))
avg=(a+b)/2
print("your average is:",avg)

enter the number1: 100
enter the number2: 100

your average is: 100.0

In [56]:
#average of the given n numbers of inputs
a=int(input("enter the how many inputs finding the average:"))
c=[]
for i in range(0,a):
    g=int(input("enter the value:"))
    c.append(g)
avg= sum(c)/a
print("your average is:",avg)

enter the how many inputs finding the average: 5
enter the value: 1
enter the value: 2
enter the value: 3
enter the value: 4
enter the value: 5

your average is: 3.0

In [57]:
a=int(input("enter the how many inputs finding the average:"))
c=[]
for i in range(1,a+1):
    g=int(input(f"enter the value:{i}"))
    c.append(g)
avg= sum(c)/a
print("your average is:",avg)

enter the how many inputs finding the average: 6
enter the value:1 1
enter the value:2 2
enter the value:3 3
enter the value:4 4
enter the value:5 5
enter the value:6 6

your average is: 3.5

In [58]:
#print the all number in a range that are divisible by given number

In [69]:
a=int(input("enter the number1:"))
b=int(input("enter the number2:"))
for i in range(a,b+1,2):
    print(i)

enter the number1: 10
enter the number2: 20

10
12
14
16
18
20

In [71]:
a=int(input("enter the number1:"))
b=int(input("enter the number2:"))
for i in range(a,b+1):
    if(i%2==0):
        print(i)

enter the number1: 13
enter the number2: 31

14
16
18
20
22
24
26
28
30

In [74]:
a=int(input("enter the number1:"))
b=int(input("enter the number2:"))
c=int(input("enter the range:"))
for i in range(a,b+1):
    if(i%c==0):
        print(i)

enter the number1: 31
enter the number2: 59
enter the range: 4

32
36
40
44
48
52
56

In [112]:
#finding odd or even number in range of numbers

In [115]:
a=int(input("enter the number1:"))
b=int(input("enter the number2:"))
c=int(input("enter the range:"))
for i in range(a,b+1):
    if(i%c!=0):
        print("the odd number from ",a, "to",b,"values are:",i)

enter the number1: 10
enter the number2: 20
enter the range: 2

the odd number from  10 to 20 values are: 11
the odd number from  10 to 20 values are: 13
the odd number from  10 to 20 values are: 15
the odd number from  10 to 20 values are: 17
the odd number from  10 to 20 values are: 19

In [121]:

a=int(input("enter the number1:"))
b=int(input("enter the number2:"))
c=[]
for i in range(a,b+1):
    if(i%2!=0):
        c.append(i)
print("the odd number from ",a, "to",b,"values are:",c)

enter the number1: 10
enter the number2: 20

the odd number from  10 to 20 values are: [11, 13, 15, 17, 19]

In [ ]:
#finding the average given number

In [81]:
a=int(input("enter the marks:"))
if a>=90:
    print("A grade")
elif a>=80 and a<90:
    print("B grade")
elif a>=70 and a<80:
    print("C grade")
elif a>=60 and a<=70:
    print("d grade")
else:
    print("sorry failed")

enter the marks: 90

A grade

In [90]:
n=int(input("enter the marks:"))
m=int(input("enter the marks:"))
k=int(input("enter the marks:")) 
p=int(input("enter the marks:")) 
l=int(input("enter the marks:")) 
a=(n+m+k+p+l)/5 
print("your average is:",a)
if a>=90: 
    print("A grade") 
elif a>=80 and a<90:
    print("B grade") 
elif a>=70 and a<80: 
    print("C grade")
elif a>=60 and a<=70:
    print("d grade") 
else: 
    print("sorry failed")

enter the marks: 100
enter the marks: 90
enter the marks: 80
enter the marks: 70
enter the marks: 60

your average is: 80.0
B grade

In [93]:
n=int(input("enter the marks:"))
l=[]
for i in range(0,n):
    m=int(input("enter the marks:"))
    l.append(m)
avg=sum(l)/n
print("your average is:",avg)
if a>=90: 
    print("A grade") 
elif a>=80 and a<90:
    print("B grade") 
elif a>=70 and a<80: 
    print("C grade")
elif a>=60 and a<=70:
    print("d grade") 
else: 
    print("sorry failed")

enter the marks: 5
enter the marks: 100
enter the marks: 90
enter the marks: 80
enter the marks: 70
enter the marks: 60

your average is: 80.0
B grade

In [95]:
#swapping number of two

In [102]:
a=3
b=4
a,b=b,a
print(a,"\n",end="")
print(b)

4
3

In [104]:
a=3
b=4
a,b=b,a
print(a,b,sep="\n")

4
3

In [105]:
#with temporary two variable
a="green"
b="blue"
print("befor swapping:",a,b)
a=b
b=a
print("after swapping:",a,b)

befor swapping: green blue
after swapping: blue blue

In [109]:
#with temporary three variable
a="green"
b="blue"
print("befor swapping:",a,b)
c=a
a=b
b=c
print("after swapping:",a,b)

befor swapping: green blue
after swapping: blue green

In [111]:
#without temporary variable
a="green"
b="blue"
print("before swapping:",a,b)
a,b=b,a
print("after swapping:",a,b)

before swapping: green blue
after swapping: blue green

In [126]:
#multiplication table

In [130]:
a=int(input("what table you need:"))
for i in range(1,21):
    print(i,"*",a,"=",i*a,\/)

what table you need: 6

1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54
10 * 6 = 60
11 * 6 = 66
12 * 6 = 72
13 * 6 = 78
14 * 6 = 84
15 * 6 = 90
16 * 6 = 96
17 * 6 = 102
18 * 6 = 108
19 * 6 = 114
20 * 6 = 120

In [131]:
#conversion

In [134]:
#convert to the km into miles
n=int(input("enter the kilometer:"))
a=n*0.62137
print("you are walked kilometer is equal to the miles is:",a)

enter the kilometer: 56

you are walked kilometer is equal to the miles is: 34.79672

In [140]:
#convert to the miles into the km
n=int(input("enter the miles:"))
a=n/0.62137
print("you are walked miles is equal to the kilometer is:",a)

enter the miles: 78

you are walked miles is equal to the kilometer is: 125.52907285514267

In [139]:
#convert to the miles into the km
n=float(input("enter the miles:"))
a=n/0.62137
print("you are walked miles is equal to the kilometer is:",a)

enter the miles: 1.24274

you are walked miles is equal to the kilometer is: 2.0

In [146]:
n=int(input("enter the miles:"))
a=n/0.62137
print("you are walked miles is %.2f equal to the kilometer is:"%(a))

enter the miles: 78

you are walked miles is 125.53 equal to the kilometer is: