In [14]:
#convert fahrenheits to celcius,celcius to fahrenheits

In [5]:
#celcius to fahrenheits
n=int(input("Enter the celceius:"))
f=(n*1.8)+32
print("the %0.2f celcius convert to the %.2f fahrenheits"%(n,f))

Enter the celceius: 0

the 0.00 celcius convert to the 32.00 fahrenheits

In [6]:
#fahrenheits to #celcius
n=int(input("Enter the celceius:"))
c=(n-32)/1.8
print("the %0.2f fharenheits convert to the %.2f celcius"%(n,c))

Enter the celceius: 32

the 32.00 fharenheits convert to the 0.00 celcius

In [ ]:
#how to find the Area of triangle

In [13]:
#Area of triangle
a=int(input("A:"))
b=int(input("B:"))
c=int(input("C:"))
s=(a+b+c)/2
aot=((s*(s-a)*(s-b)*(s-c))**0.5)
print("the area of traingle is %.2f:"%(aot))

A: 5
B: 6
C: 7

the area of traingle is 14.70:

In [15]:
#fint the largest number in the given three inputs

In [40]:
#the large replace the print statement you will give a any name and finally print statement use
a=int(input("A:"))
b=int(input("B:"))
c=int(input("C:"))
if (a>=b and a>=c):
    largest=a
elif (b>=a and b>=c):
    largest=b
elif (c>=a and c>=b):
    largest=c
print("the largest number among the a,b and c is",largest)

A: 5
B: 4
C: 5

the largest number among the a,b and c is 5

In [41]:
#the elif statement give the output one statement output 
a=int(input("A:"))
b=int(input("B:"))
c=int(input("C:"))
if a>=b and a>=c:
    print("A is greatest number")
elif b>=a and b>=c:
    print("B is greatest number")
elif c>=a and c>=b:
    print("C is greatest number")

A: 5
B: 4
C: 5

A is greatest number

In [42]:
#the if statement give the output true statement output 
a=int(input("A:"))
b=int(input("B:"))
c=int(input("C:"))
if a>=b and a>=c:
    print("A is greatest number")
if b>=a and b>=c:
    print("B is greatest number")
if c>=a and c>=b:
    print("C is greatest number")

A: 5
B: 4
C: 5

A is greatest number
C is greatest number

In [ ]:
#fint the number is which types

In [ ]:
a=int(input("A:"))
b=int(input("B:"))
c=int(input("C:"))
if a>b and a>c:
    print("A is greatest number")
elif b>a and b>c:
    print("B is greatest number")
elif c>a and c>b:
    print("C is greatest number")
elif a==b and b==c:
    print("A,B,C are equal")
elif a==b :
    print("A and B are equal")
elif a==c:
    print("A and B are equal")
elif b==c:
    print("B and C are equal")

In [58]:
#find the sum of natural number

In [47]:
n=int(input("n:"))
while n>0:
    print(n)
    n=n-1

n: 6

6
5
4
3
2
1

In [53]:
n=int(input("N:"))
if n<0:
    print("please enter the positive number")
else:
    v=0
    while n>0:
        v=v+n
        n=n-1
print(v)

N: 5

15

In [57]:
n=int(input("n:"))
v=0
while n>0:
    v=v+n
    n=n-1
   
print(v)

n: 5

15

In [59]:
#find the factorial of if we given any number

In [66]:
#using math function
import math
n=int(input("n:"))
print("the factorial of n is:",math.factorial(n))

n: 6

the factorial of n is: 720

In [67]:
#using if and else and for function
n=int(input("n:"))
f=1
if n<0:
    print("factorial cannot be found for negative number:")
elif n==0:
    print("thr factorial of n is :",0)
else:
    for i in range(1,n+1):
        f=f*i
    print("the factorial of",n,"is:",f)

n: 4

the factorial of 4 is: 24

In [69]:
#using for function
n=int(input("n:"))
f=1
for i in range(1,n+1):
        f=f*i
print("the factorial of",n,"is:",f)

n: 0

the factorial of 0 is: 1

In [76]:
#using while function
n=int(input("n:"))
v=1
while n>0:
    v=v*n
    n=n-1
print(v)

n: 6

720

In [77]:
#fibonacci series

In [79]:
num=int(input("n:"))
a1,a2=0,1
count=0
if num<=0:
    print("please enter the positive number")
elif num==1:
    print("fiboncci series nmber is",a2)
else:
    print("the fiboncci serius is")
    while count<num:
        print(a1)
        last=a1+a2
        a1=a2
        a2=last
        count+=1

n: 8

the fiboncci serius is
0
1
1
2
3
5
8
13

In [1]:
n1,n2=0,1
c=0
n=int(input("n:"))
while n>c:
    print(n1)
    b=n1+n2
    n1=n2
    n2=b
    c+=1

ERROR! Session/line number was not unique in database. History logging moved to new session 93

n: 9

0
1
1
2
3
5
8
13
21

In [ ]:
#find the whether a year is leap year or not

In [2]:
n=int(input("n:"))
if n%4==0:
    if n%100==0:
        if n%400==0:
            print("leap year")
        else:
            print("not leap year")
    else:
        print("leap year")
else:
    print("not leap year")

n: 2024

leap year

In [4]:
n=int(input("n:"))
if n%4==0:
    print("leap year")
elif (n%4==0 and n%100!=0):
    print("leap lear")
elif (n%4==0 and n%400==0):
    print("leap year")
elif (n%4==0 and n%100==0):
    print("not leap year")
else:
    print("not leap year")

n: 1908

leap year

In [5]:
#find the string is palindrome or not

In [12]:
str=input("Enter the word:")
rev=str[::-1]
if str==rev:
    print("palindrome")
else:
    print("not palingrome")

Enter the word: heleh

palindrome

In [20]:
a=["Madam","ki","l"]
a.reverse()
print(a)

['l', 'ki', 'Madam']

In [21]:
#find the armstrong number

In [23]:
n=int(input("n:"))
value=0
temp=n
while temp>0:
    digits=temp%10
    value=value+digits**3
    temp=temp//10
if n==value:
    print("armstronnumber")
else:
    print("not armstrong number")

n: 153

armstronnumber

In [36]:
n=int(input("n:"))
value=0
temp=n
order=len(input(n))
while temp>0:
    digits=temp%10
    value=value+digits**order
    temp=temp//10
if n==value:
    print("armstronnumber")
else:
    print("not armstrong number")

n: 1234
1234 1234

not armstrong number

In [37]:
a=int(input("n:"))
b=len(input(a))
print(b)
while n>0:

n: 123456
123456 123456

6

In [ ]:
n=int(input("n:"))
p=len(str(n))
s=0
for i in str(n):
    s=s+(int(i)**p)
if n==s:
    print("armstrong")
else:
    print("not armstrong")

In [51]:
a=int(input("n:"))
dig=a
b=[]
g=sum(b)
while dig>0:
    s=dig%10
    d=s**3
    b.append(d)
    dig=dig//10

    
if a==g:
    print("arm")
else:
    print("not arm")

n: 152

not arm

### how to print the certain range of armstrong number

In [14]:
n=int(input("n:"))
n=str(n)
p=len(str(n))
print(p)

n: 153

3

In [18]:
n=int(input("n:"))
m=int(input("m:"))
for i in range(n,m+1):
    p=len(str(i))
    if i==sum(int(d)**p for d in str(i)):
        print(i)

n: 100
m: 2000

153
370
371
407
1634

In [40]:
n=int(input("n:"))
m=int(input("m:"))
for i in range(n,m+1):
    power=len(str(i))
    value=0
    temp=i
    while temp>0:
        digit=temp%10
        value=value+digit**power
        temp=temp//10
    if i==value:
        print(i)

n: 100
m: 2000

153
370
371
407
1634

In [42]:
#print the calender using import methods

In [ ]:
#module      methods
#calendar    weekday
#            month
#            isleap

In [48]:
import calendar
print(calendar.month(2025,8))

    August 2025
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [51]:
#module,methods
print(calendar.calendar(2026))

                                  2026

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1                         1
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       2  3  4  5  6  7  8
12 13 14 15 16 17 18       9 10 11 12 13 14 15       9 10 11 12 13 14 15
19 20 21 22 23 24 25      16 17 18 19 20 21 22      16 17 18 19 20 21 22
26 27 28 29 30 31         23 24 25 26 27 28         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [93]:
#calendar(year,width,lenght,space,colums)
print(calendar.calendar(2020,2,1,6,3))

                                  2020

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                         1
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       2  3  4  5  6  7  8
13 14 15 16 17 18 19      10 11 12 13 14 15 16       9 10 11 12 13 14 15
20 21 22 23 24 25 26      17 18 19 20 21 22 23      16 17 18 19 20 21 22
27 28 29 30 31            24 25 26 27 28 29         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [101]:
#calendar(year,width,lenght,space,colums)
print(calendar.calendar(2020,2,2,3,4))

                                           2020



      January                February                March                  April

Mo Tu We Th Fr Sa Su   Mo Tu We Th Fr Sa Su   Mo Tu We Th Fr Sa Su   Mo Tu We Th Fr Sa Su

       1  2  3  4  5                   1  2                      1          1  2  3  4  5

 6  7  8  9 10 11 12    3  4  5  6  7  8  9    2  3  4  5  6  7  8    6  7  8  9 10 11 12

13 14 15 16 17 18 19   10 11 12 13 14 15 16    9 10 11 12 13 14 15   13 14 15 16 17 18 19

20 21 22 23 24 25 26   17 18 19 20 21 22 23   16 17 18 19 20 21 22   20 21 22 23 24 25 26

27 28 29 30 31         24 25 26 27 28 29      23 24 25 26 27 28 29   27 28 29 30

                                              30 31



        May                    June                   July                  August

Mo Tu We Th Fr Sa Su   Mo Tu We Th Fr Sa Su   Mo Tu We Th Fr Sa Su   Mo Tu We Th Fr Sa Su

             1  2  3    1  2  3  4  5  6  7          1  2  3  4  5                   1  2

 4  5  6  7  8  9 10    8  9 10 11 12 13 14    6  7  8  9 10 11 12    3  4  5  6  7  8  9

11 12 13 14 15 16 17   15 16 17 18 19 20 21   13 14 15 16 17 18 19   10 11 12 13 14 15 16

18 19 20 21 22 23 24   22 23 24 25 26 27 28   20 21 22 23 24 25 26   17 18 19 20 21 22 23

25 26 27 28 29 30 31   29 30                  27 28 29 30 31         24 25 26 27 28 29 30

                                                                     31



     September               October                November               December

Mo Tu We Th Fr Sa Su   Mo Tu We Th Fr Sa Su   Mo Tu We Th Fr Sa Su   Mo Tu We Th Fr Sa Su

    1  2  3  4  5  6             1  2  3  4                      1       1  2  3  4  5  6

 7  8  9 10 11 12 13    5  6  7  8  9 10 11    2  3  4  5  6  7  8    7  8  9 10 11 12 13

14 15 16 17 18 19 20   12 13 14 15 16 17 18    9 10 11 12 13 14 15   14 15 16 17 18 19 20

21 22 23 24 25 26 27   19 20 21 22 23 24 25   16 17 18 19 20 21 22   21 22 23 24 25 26 27

28 29 30               26 27 28 29 30 31      23 24 25 26 27 28 29   28 29 30 31

                                              30

In [98]:
#calendar.weekday(year,month,day of date)
#mon-0,tue-1,wed-2,thr-3,fri-4,sat-5,sun-6
print(calendar.weekday(2020,6,28))

6

In [99]:
print(calendar.isleap(2000))

True

In [102]:
print(calendar.leapdays(2000,2018))

5

In [105]:
print(calendar.leapdays(2000,2020))

5

In [104]:
print(calendar.leapdays(2000,2021))

6