In [1]:
#How to perform string conversions

In [12]:
n=input("enter the string:")
if(n.isupper()):
    print(n.lower())
elif (n.islower()):
    print(n.upper())

enter the string: MANIMEGALAI

manimegalai

In [11]:
n=input("enter the string:")
if(n.isupper()):
    print(n.lower())
elif (n.islower()):
    print(n.upper())
elif (n.islower() or n.isupper()):
    print("hello")

enter the string: mANJDJMDS

In [13]:
#randomly select an element from a list

In [16]:
import random
n=[9,34,67,90,3,2]
print(random.choice(n))

9

In [17]:
import secrets
n=[9,34,67,90,3,2]
print(secrets.choice(n))

3

In [18]:
import random
n=[9,34,67,90,3,2]
for i in range(3):
    print(random.choice(n))

9
34
34

In [1]:
#Remoove Duplicate from a List

In [2]:
l1=[1,2,3,4,5,67,8,9,3,4,5,7,9]
print("befor removing duplicate",l1)
print("after removing duplicate",list(set(l1)))

befor removing duplicate [1, 2, 3, 4, 5, 67, 8, 9, 3, 4, 5, 7, 9]
after removing duplicate [1, 2, 3, 4, 5, 67, 7, 8, 9]

In [3]:
set(l1)

{1, 2, 3, 4, 5, 7, 8, 9, 67}

In [9]:
a=[9,7,6,4,3,2,1,5]
set(a)

{1, 2, 3, 4, 5, 6, 7, 9}

In [8]:
print(list(set(a)))

[1, 2, 3, 4, 5, 6, 7, 9]

In [10]:
x=[1,2,3,4]
y=[1,2,5,6]
print(list(set(x)^set(y)))

[3, 4, 5, 6]

In [ ]:
#List Methods

In [12]:
print(list(set(x) & set(y)))

[1, 2]

In [13]:
l1=[1,2,3,4,5,6,7,8,9,10]
print(len(l1))

10

In [14]:
print(min(l1))

1

In [15]:
print(max(l1))

10

In [23]:
n=int(input("enter the number of students:"))
k=[]
for i in range(1,n+1):
    
    n=int(input("enter the 3 numbner of students:"))
    k.append(n)
print(k)
print("total number of students",len(k))
print("minimum marks in the students:",min(k))
print("maximum marks in the students:",max(k))

enter the number of students: 6
enter the 3 numbner of students: 23
enter the 3 numbner of students: 34
enter the 3 numbner of students: 45
enter the 3 numbner of students: 56
enter the 3 numbner of students: 67
enter the 3 numbner of students: 78

[23, 34, 45, 56, 67, 78]
total number of students 6
minimum marks in the students: 23
maximum marks in the students: 78

In [24]:
#Anagram

In [25]:
n=input("enter the str1:")
m=input("enter the str2:")
s1=sorted(n)
s2=sorted(m)
if s1==s2:
    print("Anogram")
else:
    print("Not Anagram")

enter the str1: earth
enter the str2: heart

Anogram

In [27]:
n=input("enter the str1:")
m=input("enter the str2:")
s1=sorted(n)
s2=sorted(m)
if s1==s2:
    print("Anogram")
else:
    print("Not Anagram")
print(s1)
print(s2)

enter the str1: eerth
enter the str2: heert

Anogram
['e', 'e', 'h', 'r', 't']
['e', 'e', 'h', 'r', 't']

In [29]:
n=input("enter the str1:")
m=input("enter the str2:")
s1=sorted(n)
s2=sorted(m)
if len(s1)==len(s2):
    if s1==s2:
        print("Anogram")
    else:
        print("Not Anagram")
else:
    print("the word is not anagram")
    
print(s1)
print(s2)

enter the str1: earthh
enter the str2: heart

the word is not anagram
['a', 'e', 'h', 'h', 'r', 't']
['a', 'e', 'h', 'r', 't']

In [1]:
#valid data or not

In [6]:
days=int(input("enter the day:"))
month=int(input("enter the month:"))
year=int(input("enter the year:"))
if month==1 or month==3 or month==5 or month==7 or month==8 or month==10 or month==12:
    max_days=31
elif month==4 or month==6 or month==9 or month==11:
    max_days=30
elif year%4==0 and year%100!=0 or year%400==0:
    max_days=29
else:
    max_days=28
if month<1 or month>12:
    print("Not Valid Month")
elif days<1 or days>max_days:
    print("entered day is invalid")
else:
    print("valid data")

enter the day: 9
enter the month: 8
enter the year: 2345

valid data

In [7]:
#find the seconf largest numbers

In [15]:
a=[1,4,2,6,7,9,8,3]
print(a.sort())
print(a.reverse())

None
None

In [19]:
a=[1,4,2,6,7,9,8,3]
a.sort()
print(a)
print("the second largest number in the a is:",a[-2])

[1, 2, 3, 4, 6, 7, 8, 9]
the second largest number in the a is: 8

In [26]:
a=[1,4,2,6,7,9,8,3]

print(set(a))
print("the second largest number in the a is:",a[-2])

{1, 2, 3, 4, 6, 7, 8, 9}
the second largest number in the a is: 8

In [27]:
a=[1,4,2,6,7,9,8,3]
b=set(a)
b.remove(max(b))
print(max(b))

8

In [28]:
a=int(input("enter the n:"))
l=[]
for i in range(1,a+1):
    b=int(input("n:"))
    l.append(b)
l.sort()
print(l[-2])

enter the n: 5
n: 4
n: 6
n: 3
n: 2
n: 8

6

In [29]:
#String Concatenation

In [31]:
a="happy"
b="learning"
print(a,b)

happy learning

In [32]:
a="happy"
b="learning"
print("".join([a,b]))
print(" ".join([a,b]))

happylearning
happy learning

In [33]:
a="happy"
b="learning"
print("%s %s"%(a,b))

happy learning

In [34]:
a="happy"
b="learning"
print("{} {}".format(a,b))
c="{} {}".format(a,b)
print(c)

happy learning
happy learning

In [35]:
#Replace Character in a String

In [37]:
a=input("please enter the own string:")
b=input("character:")
c=input("newchar:")
str1=""
for i in range (len(str1)):
    if (str[i]==b):
        str1+=c
    else:
        str1+=str1[i]
print(a)
print(str1)

please enter the own string: hae
character: e
newchar: i

hae

In [38]:
a="hellow"
print(a.replace("w","o"))

helloo

In [1]:
#Count no of Words

In [ ]:
a=input("enter the word:")
t=1
for i in range(len(a)):
    if a[i]==" " or a=="\n" or a=="\t":
        t=t+1
    i+1

print(t)

In [26]:
a=input("enter the word:")
t=1
i=0
print(len(a))
while (i<len(a)):
    if a[i]==" " or a=="\n" or a=="\t":
        t=t+1
    i=i+1    

print(t)

enter the word: my dear friends

15
3

In [27]:
a="hello my dear world"
a.split()

['hello', 'my', 'dear', 'world']

In [35]:
a=input("enter the words:")
c=len(a.split())
print(str(c))

enter the words: hell my dear friends

4

In [1]:
#Togggle character using the python

In [2]:
s=input("n:")
s1=''
for i in range (len(s)):
    if (s[i]>='a' and s[i]<='z'):
        s1=s1+chr((ord(s[i])-32))
    elif (s[i]>='A' and s[i]<='Z'):
        s1=s1+chr((ord(s[i])+32))
    else:
        s1=s1+s[i]
print(s)
print(s1)

n: HELLO

HELLO
hello

In [32]:
print(ord(8))

TypeError: ord() expected string of length 1, but int found

In [30]:
print(chr(67))

C