# CLASS & OBJECT
class=blueprint of object
object=many to make the object using the class(insteand of class)

# ATRRIBUTES & FUNCTION
variable & methods

Age      |ete
gender   |dance
name     |work

In [46]:
#syntax

class person():

_IncompleteInputError: incomplete input (3829147660.py, line 3)

In [53]:
#class with print

class person():
    print("hai")

hai

In [54]:
class person():
    print("hai")
print(person())

hai
<__main__.person object at 0x0000024368623B60>

In [55]:
#class with variable

class person():
    print("hai")
    a=10
    print(a)

hai
10

In [56]:
class person():
    print("hai")
    a=10
print(a)

hai
super

In [57]:
class person():
    print("hai")
    a=10
obj=person()
print(obj.a)
print(type(obj))

hai
10
<class '__main__.person'>

# function

In [58]:
def function():
    print('hello')

In [59]:
def function():
    print('hello')
function()

hello

In [60]:
def function():
    print('hello')
    print('everyone')
function()

hello
everyone

In [61]:
def function():
    print('hello',end=' ')
    print('everyone')
function()  
print('hello everyoe')
function()

hello everyone
hello everyoe
hello everyone

In [62]:
test()
def test():
    print("i am from test")

NameError: name 'test' is not defined

In [63]:
def test():
    print("i am from test")
test()

i am from test

In [64]:
#previous code.
def greeting():
    print(" hai. i am from function...")
greeting()

 hai. i am from function...

In [65]:
def greeting():
    print(" hai.. Neha.. Good morning")
greeting()

 hai.. Neha.. Good morning

In [66]:
def greeting():
    print(" hai.. sakthi.. Good morning")
greeting()

 hai.. sakthi.. Good morning

In [67]:
def function(name):
    print('hi',name,'how are you')
function('nivetha')
function('manimegalai')
function('sentamizh')

hi nivetha how are you
hi manimegalai how are you
hi sentamizh how are you

In [68]:
def fun(name='divya'):
    print('hi',name,'how are you')
fun()

hi divya how are you

In [69]:
def fun(name='divya'):
    print('hi',name,'how are you')
fun('nivetha')

hi nivetha how are you

In [70]:
def fun(name='divya'):
    print('hi',name,'how are you')
fun('nivetha')
fun()

hi nivetha how are you
hi divya how are you

In [71]:
def add(x,y):
    z=x+y
    print('the value of z is',z)
add(10,20)
add(10,30)

the value of z is 30
the value of z is 40

In [72]:
def fun(name):
    print('the name is',name)
def add(x,y):
    z=x+y
    print('the value of z is',z)
add(10,20)
add(10,30)
fun('manimegalai')

the value of z is 30
the value of z is 40
the name is manimegalai

In [73]:
def fun(x,y):
    z=x+y
    print('the value of z is',z)
def func(x,y):
    z=x-y
    print("the valus of z is",z)
fun(10,20)
func(10,20)

the value of z is 30
the valus of z is -10

In [74]:
def add(x,y):
    z=x+y
    print("the sum is:", z)
add(10,20)

the sum is: 30

In [75]:
#add with 2 function call:
def add(x,y):
    z=x+y
    print("the sum is:", z)
add(10,20)
add(30,40)

the sum is: 30
the sum is: 70

In [76]:
# add and sub
def add(x,y):
    z=x+y
    print("the sum is:", z)
def sub(x,y):
    z=x-y
    print("the subtracted value:", z)
add(10,20)
sub(50,20)

the sum is: 30
the subtracted value: 30

In [77]:
def add(x,y):
    z=x+y
    print("the sum is:", z)
add(10,20)

def sub(x,y):
    z=x-y
    print("the subtracted value:", z)
sub(50,20)

the sum is: 30
the subtracted value: 30

In [78]:
def add(x,y=3):
    z=x+y
    z1=x-y
    print(z,z1)
add(1,2)

3 -1

In [79]:
def add(x,y=3):
    z=x+y
    z1=x-y
    return z,z1
add(1,2)

(3, -1)

In [80]:
def add(x,y=3):
    z=x+y
    z1=x-y
    return z,z1
a,b=add(1,2)
print('the value of',a)
print('the value of',b)

the value of 3
the value of -1

In [81]:
def add(x,y=20):
    z=x+y
    print("the sum is:", z)
add(10)

the sum is: 30

In [82]:
def add(x,y=20):
    z=x+y
    print("the sum is:", z)
add(10,30)
add(10)

the sum is: 40
the sum is: 30

In [83]:
# print outside function
def add(x,y):
    z=x+y
    print("the sum is:", z)
add(10,20)
print("the added value is:",z)

the sum is: 30

NameError: name 'z' is not defined

In [ ]:
def add(a,b):
    c=a+b
    print(c)
z=add(1,2)
print(z)

In [84]:
def add(x,y):
    z=x+y
    return z
result=add(10,20)
print("the added value is:",result)

the added value is: 30

In [85]:
def greeting():
    print("hai")
    return
    print("happy learning")
greeting()

hai

In [86]:
def greeting():
    print("hai")
    return
print("happy learning")
greeting()

happy learning
hai

In [87]:
def greeting():
    print("hai")
    return
    print("happy learning")
    return 
greeting()

hai

In [88]:
def greeting():
    print("hai")
    print("happy learning")
    return 
greeting()

hai
happy learning

In [89]:
def fun(x):
    return x+5
fun(10)

15

In [90]:
#return [expression_list]
def greet(a,b):
    print(a+b)
print(greet(10,20))

30
None

In [91]:
#return [expression_list]
def greet(a,b):
    print(a+b)
greet(10,20)

30

In [92]:
def greeting(x):
    print(x)
greeting("hello")

hello

In [93]:
l='l'
def f():
    print('mani',l)
f()

mani l

In [94]:

def f():
    l='l'
    print('mani',l)
f()

mani l

In [95]:
def local():
    loc_variable="i am local variable"
    print(loc_variable)
local()
print(local())

i am local variable
i am local variable
None

In [96]:
glo_var="hai"
def local():
    loc_variable="i am local variable"
    print(loc_variable)
    local()
    print(glo_var)

In [97]:
#example-global variable
glo_variable="i am global variable"
def glo():
    print("inside function:",glo_variable)
glo()

inside function: i am global variable

In [98]:
#example-local variable
def local():
    loc_variable="i am local variable"
    print(loc_variable)
local()

i am local variable

In [99]:
glo_var="hai"
def local():
    loc_variable="i am local variable"
    print(loc_variable)
local()
print(glo_var)
print(loc_variable)

i am local variable
hai

NameError: name 'loc_variable' is not defined

In [100]:
#accessing within function
var="happy learning."
def greet():
    var="python series"
    print("inside function:",var)
greet()
print("outside call:",var)

inside function: python series
outside call: happy learning.

In [101]:
var="happy learning."
def greet():
    #var="python series"
    print("inside function:",var)
greet()
print("outside call:",var)

inside function: happy learning.
outside call: happy learning.

In [102]:
# if need to change global variable value with in function
var="happy learning."
def greet():
    global var
    var="bye bye"
    print("inside function:",var)
greet()
print("outside call:",var)

inside function: bye bye
outside call: bye bye

In [103]:
# global and local having same name
var="happy learning."
def greet():
    var="python series"
    print("inside function:",var)
    print(globals()['var'])
    
greet()
print("outside call:",var)

inside function: python series
happy learning.
outside call: happy learning.

In [104]:
# global and local having same name
var="happy learning."
def greet():
    var="python series"
    print("inside function:",var)
    print(globals()['var'])
    
greet()
print("outside call:",var)

inside function: python series
happy learning.
outside call: happy learning.

In [105]:
# global and local having same name
var="happy learning."
def greet():
    var="python series"
    print("inside function:",var)
    
greet()
print("outside call:",var)

inside function: python series
outside call: happy learning.

In [106]:
# global and local having same name
var="happy learning."
def greet():
    var="python series"
    print("inside function:",var)
    print(var)
    
greet()
print("outside call:",var)

inside function: python series
python series
outside call: happy learning.

In [107]:
var="happy learning."
def greet():
    var="python series"
    print("inside function:",var)
    globals()['var']="changed"
    print(globals()['var'])
    
greet()
print("outside call:",var)

inside function: python series
changed
outside call: changed

In [108]:
a="happy learning"
def c():
    a="awesome"
    print(a)
    globals()['a']="super"
    print(globals()['a'])
    print(a)
c()
print(a)

awesome
super
awesome
super

In [109]:
#types of arguments
#position
#keyword
#default
#variable length

In [110]:
def add(x,y):
    z=x+y
    print("sum:",z)
add(5,10)

sum: 15

In [111]:
#position
def person(name,age):
    print("name is:",name)
    print("age is:",age)
person("john",23)

name is: john
age is: 23

In [112]:
def person(name,age):
    print("name is:",name)
    print("age is:",age)
person(23,"john")

name is: 23
age is: john

In [113]:
def person(name,age):
    print("name is:",name)
    print("age is:",age+2)
person(23,"john")

name is: 23

TypeError: can only concatenate str (not "int") to str

In [ ]:
def person(name,age):
    print("name is:",name)
    print("age is:",age)
person(23,"john")

In [114]:
#keyword
def person(name,age):
    print("name is:",name)
    print("age is:",age+2)
person(age=23,name="john")

name is: john
age is: 25

In [115]:
def p(name,age):
    print('the name is:',name)
    print('the age is :',age)
p(age=23,name='mani')

the name is: mani
the age is : 23

In [116]:
def p(name,age):
    print('the name is:',name)
    print('the age is :',age+3)
p(age=23,name='mani')

the name is: mani
the age is : 26

In [117]:
#default argument

In [118]:
def person(name,age):
    print("name is:",name)
    print("age is:",age)
person("john")

TypeError: person() missing 1 required positional argument: 'age'

In [119]:
def person(name,age=14):
    print("name is:",name)
    print("age is:",age)
person("john")

name is: john
age is: 14

In [120]:
def person(name,age=18):
    print("name is:",name)
    print("age is:",age)
person("john")

name is: john
age is: 18

In [121]:
def person(name,age=14):
    print("name is:",name)
    print("age is:",age)
person("john",10)

name is: john
age is: 10

In [122]:
def person(name,age):
    print("name is:",name)
    print("age is:",age+2)
person("john",23)

name is: john
age is: 25

In [123]:
def person(name="john",age):
    print("name is:",name)
    print("age is:",age)
person(23)

SyntaxError: parameter without a default follows parameter with a default (1767217243.py, line 1)

In [126]:
def person(age,name="john"):
    print("name is:",name)
    print("age is:",age)
person(23)

name is: john
age is: 23

In [125]:
def person(name,age=9):
    print("name is:",name)
    print("age is:",age)
person('kalai')

name is: kalai
age is: 9

In [127]:
def person(name="john"):
    print("name is:",name)  
person()

name is: john

In [128]:
#variable length arguments
def add(x,y):
    z=x+y
    print("sum:",z)
add(10,20)

sum: 30

In [129]:
def add(x,y):
    z=x+y
    print("sum:",z)
add(10,20,30,40)

TypeError: add() takes 2 positional arguments but 4 were given

In [130]:
def add(x,*y):
    z=x+y
    print("sum:",z)
add(10,20,30,40)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [131]:
def add(x,*y):
    z=x+y
    print("sum:",z)
add(10,20)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [132]:
def add(x,*y):
    z=x
    for i in y:
        z=z+i
    print("sum:",z)
add(10,20,30,40)

sum: 100

In [133]:
def add(x,*y):
    z=x
    for i in y:
        z=z+i
    print('sum',z)
add(1,3,8,9)

sum 21

In [134]:
def add(*y):
    z=0
    for i in y:
        z=z+i
    print("sum:",z)
add(10,20,30,40)

sum: 100

In [3]:
def add(*y):
    z=0
    for i in y:
        z=z+i
    print(z)
add(1,2,3,4)

10

In [4]:
def person(name,age,city,ph):
    
    print("name:",name)
    print("age:",age)
    print("city:",city)
    print("ph:",ph)
person("john",43,"chennai",1234567890)

name: john
age: 43
city: chennai
ph: 1234567890

In [5]:
def person(name,*values):
    print("name:",name)
    print(values)
person("john",43,"chennai",1234567890)

name: john
(43, 'chennai', 1234567890)

In [6]:
#kwargs
# keyword variable length argument

In [7]:
def person(name,age,city,ph):
    
    print("name:",name)
    print("age:",age)
    print("city:",city)
    print("ph:",ph)
person("john",43,"chennai",1234567890)

name: john
age: 43
city: chennai
ph: 1234567890

In [8]:
def person(name,*values):
    print("name:",name)
    print(values)
person("john",43,"chennai",1234567890)

name: john
(43, 'chennai', 1234567890)

In [9]:
def person(name,*values):
    print("name:",name)
    print(values)
person("john",age=43,city="chennai",ph=1234567890)

TypeError: person() got an unexpected keyword argument 'age'

In [ ]:
def person(name,**values):
    print("name:",name)
    print(values)
person("john",age=43,city="chennai",ph=1234567890)

In [12]:
def person(name,**values):
    print('name',name)
    for i,j in values.items():
        print(i,j)
person('john',age=23,dept='cse',coll='mec')

name john
age 23
dept cse
coll mec

In [13]:
def person(name,**values):
    print("name:",name)
    print(values.items())
    for i ,j in values.items():
        print(i,j)
person("john",age=43,city="chennai",ph=1234567890)

name: john
dict_items([('age', 43), ('city', 'chennai'), ('ph', 1234567890)])
age 43
city chennai
ph 1234567890

In [14]:
def person(name,**values):
    print("name:",name)
    print("age:",values['age'])
    print("city:",values['city'])
    print("ph:",values['ph'])
person("john",age=43,city="chennai",ph=1234567890)

name: john
age: 43
city: chennai
ph: 1234567890