 # SQL(Stucture Query Language)

## CHARAXCTER:

1. **char-255 bytes**
	- *ex :char(5)-"mani "*
2. **varchar-65535 bytes**
	- *ex:varchar(100)-"mani"*
3. **Text-large amount of data in image**
  
  - text type      Maximunm number of bytes

  - TINYTEXT    -  255
  - text	      -  65,535
  - mediumtext  -  16,777,215
  - longtext    -  4,294,967,295

In [ ]:
# SQL(Stucture Query Language)

## CHARAXCTER:

1. **char-255 bytes**
	- *ex :char(5)-"mani "*
2. **varchar-65535 bytes**
	- *ex:varchar(100)-"mani"*
3. **Text-large amount of data in image**
  
  - text type      Maximunm number of bytes

  - TINYTEXT    -  255
  - text	      -  65,535
  - mediumtext  -  16,777,215
  - longtext    -  4,294,967,295

The various character to show using below comment
-- SHOW CHARACTER SET;
4. BLOP-Binary Large Object File
	- TINY BLOB,MEDIUM BLOB,LONGBLOB
## NUMERIC
1. Int-Tinyint,smallint, mediumint, int,bigint
	- Tinyint is used to store bool or boolean
2. Decimal-Float(p,s),Doble(p,s)
	- ex:DECIMAL(5,2)-663.12

In [ ]:
The various character to show using below comment
-- SHOW CHARACTER SET;

Show how many database in the schema
-- SHOW DATABASES;

create databse
-- CREATE database LOGICFIRST;-- or 
-- CREATE SCHEMA LOGICFIRST;

delete database
-- DROP database LOGICFIRST;-- OR
-- DROP SCHEMA LOGICFIRST;
-- DROP SCHEMA IF EXISTS logicfirst;

Create table
-- CREATE TABLE STUDENT(
    ID INT PRIMARY KEY,
    NAME VARCHAR(30),
    GPA(DECIMAL(3,2));

Show table
-- DESCRIBE STUDENT;

Drop table
-- DROP TABLE STUDENT;

Alter table
-- ALTER TABLE STUDENT ADD DEPARTMENT VARCHAR(10);

Drop column 
-- ALTER TABLE STUDENT DROP COLUMN DEPARTMENT;

Insert rows
-- INSERT INTO STUDENT(ID,NAME,GPA) VALUES
	(1,"ARTHI",7.6),
    (2,"ANITHA",8.5),
    (3,"NITHA",6.5),
    (4,"ARUL",7.4),
    (5,"ANAND",8.3),
    (6,"BALAJI",7.2);

Show student table
-- SELECT*FROM STUDENT